
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    flex-direction: column;
     font-family: 'Roboto', sans-serif;
     margin: 0;
     box-sizing: border-box;
     gap: 30px;
}
.first-container{
display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #1f2937;
    padding: 20px 100px;
   
}
.header{
    display: flex;
    gap: 20px;
    
}
.logo{
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}
.header-items{
  font-size: 18px;
  color: #E5E7EB;  
  text-decoration: none; 
}
.first-container-content{
    display: flex;
    margin-bottom: 70px;
    
    
}
.left,img{
    flex: 1 1 50%;
}
.hero-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-second-text{
    color: #F9FAF8;
    margin-bottom: 5px;
}
.first-button{
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border: none; 
  cursor: pointer; 
  font-size: 16px; 
  border-radius: 8px;
}
.img1{
    max-width: 550px;
    max-height: 200px;
    padding: 0px 20px;
}

.second-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.second-container-content{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    }
    
    .reviews{
          display: flex;  
         flex-wrap: wrap; 
         justify-content: center; 
         max-width: 300px

    }
    .review-photo{
         height: 350px;
        border: #3882f6 5px solid;
    }
    .second-container-title{
font-size: 36px;
font-weight: 900;
color: #1f2937;
margin: 30px;
    }
    .third-container{
       
        background-color: #E5e7eb;
        padding: 100px 200px;
         display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .speech{
font-size: 36px;
color: #1f2937;
font-weight: 300;
max-width: 1000px;    
}
.name{
    align-self: flex-end;
    font-size: 25px;
font-weight: 900;
color: #1f2937;
margin-right: 30px;
}
.third-container-content{
     display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        max-width: 1000px;  
}
.fourth-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 100px;
}
.fourth-container-wrapper{
    background-color: #3882f6;
    padding: 40px 150px;
    display: flex;
    gap: 300px;
    max-width: 1500px;
     min-width: 900px;
}
.fourth-container-content{
    display: flex;
    flex-direction: column;
    max-height: 100px;
    margin-right: 20px;
}
.discount{
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border: none; 
  cursor: pointer; 
  font-size: 16px; 
  border-radius: 8px;
  border: #F9FAF8 solid 3px;
  flex-shrink: 0;
}
.fourth-container-main{
    font-size: 36px;
    color: #F9FAF8;
    font-weight: 900;
}
.fourth-container-secondary{
        font-size: 18px;
    color: #F9FAF8
}